#header {
  /* margin: 0 15px; */
  margin-top: 86px;
}
.header__content {
  position: relative;
  height: 838px;
}
.header__title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 63px;
  line-height: 90px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #101828;
  max-width: 961px;
  width: 100%;
  padding-bottom: 60px;
  margin-left: 15px;
}
.logo{
    margin-left: 15px;
}
.nav__btn{
    margin-right: 15px;
}
.header__descr {
    margin-left: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #667085;
  max-width: 376px;
  width: 100%;
}
.women__header {
  position: absolute;
  bottom: -8px;
  right: 0px;
  z-index: -2;
  max-width: 800px;
  width: 100%;
  max-height: 699px;
  height: 100%;
  object-fit: cover;
}
.arrow__header {
  position: absolute;
  left: 10%;
  bottom: 20%;
  z-index: -1;
}
@media only screen and (max-width: 800px) {
  .header__title {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 50px;
    margin: 0 15px;
  }
  .header__descr{
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin: 0 15px;
  }
}
.women__header_{
    display: none;
}
@media only screen and (max-width: 630px) {
.women__header{
    display: none;
}
.arrow__header{
    display: none;
}
.women__header_{
    display: flex;
    max-width: 600px;
    width: 100%;
    padding: 15px;
}
}
